<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/Users/hskj/Desktop/超/generator/01demo/public/reset.css">
</head>
<body>
    <h1>周青蓉的详情页面</h1>
    <div class="content">
        <ul>
            <li><%= content0 %></li>
            <li><%= content1 %></li>
        </ul>
    </div>
</body>
</html>