<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
<h1>我是详情页面</h1>
<div class="content">
    <ul>
        <li><%= content %></li>
    </ul>
</div>
</body>
</html>